h1, h2, h3, h4  {
    font-family: "Lobster", serif;
    font-size: 1.5em;
}
p   {
    font-family: "Verdana", sans-serif;
}

.primary {
    background-color: #FFF1D1;
    margin: 20px;
    color: black;
}
.secondary {
    background-color: #363020;
    margin: 20px;
    color: white;
}
.tertiary {
    background-color: #FFA500;
    margin: 20px;
    color: white;
}
.colors {
    width: 100%;
    background-color: aqua;
    border: 2px solid black;
    text-align: center;
}