*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body    {
    font-family: "georgia";
    font-size: 15px;
    display: flex;
    align-content: center;
    justify-content: center;    
}

form    {
    margin-top: 20px;
    background-color: rgb(212, 208, 208);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 420px;
    border: 1px solid #363020;
    border-radius: 20px;
    padding: 45px 42px 30px 42px;
    box-shadow: 1px 1px 8px 3px grey;
    color: black;
}

h2  {
    font-size: large;
    font-style: italic;
    text-align: center;
    color: red;
}

h3  {
    color:green;
    font-size: medium;
    text-align: center;
}
input, textarea, select{
    display: block;
    width: 328px;
    max-width: 328px;
    padding: 10px;
}

.title input, .gender input  {
    display: inline;
    width: fit-content;
}

.space2      {
    height: 10px;
}
.space3 {
    height: 25px;
}

label   {
    display: block;
}

textarea    {
    min-height: 100px;
}

button  {
    cursor: pointer;
    padding: 10px 0;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: 18px;
    border: 2px solid white;
}

button:hover    {
    background-color: white;
    color: black;
    border: 1px solid black;
}

p, .dob, .msg, .email, .name, .number {
    font-weight: bold;
}

