body    {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.03em;
    line-height: 1.5rem;
    font-family: 'Varela Round', sans-serif;
    font-size: medium;
    box-sizing: border-box;
    background: linear-gradient(to right, #8e9eab, #eef2f3);
    height: 98vh;
    text-align: justify;
}

.container  {
    width: 400px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 0 5px 1px;
    position: relative;
}

.img_container  {
    width: 400px;
}

.img    {
    width: 400px;
    border-radius: 30px 30px 0 0;
    border-bottom: 7px solid rgb(32, 30, 30);
}

.empty  {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 25px;
    right: 25px;
    transition: .7s ease-out;
}

.heart  {
    font-size: 2.7rem;
    color: white; 
    transition: 1.2s;
}

.empty:hover    {
    background-color: black;
    box-shadow: 0 0 20px 5px white;
    transform: scale(1.1);
}

.empty:hover .heart  {
    color: white;
    transform: scale(1.1);
    transform: rotate(360deg);
}

.desc   {
    padding: 0 20px 20px 20px;
}

h1  {
    text-align: center;
    letter-spacing: normal;
    font-weight: 900;
}

footer   {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a  {
    padding: 5px 50px;
    border-radius: 10px;
    border: 1px solid rgb(178, 179, 155);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 1s;
    text-decoration: none;
    color: black;
    background-color: #f0f6f7;
}

a:hover    {
    background-color: black;
    color: white;
}

.info2   {
    display: flex;
    align-items: baseline;
    text-shadow: 3px 2px 5px #b3babe;
}

.info2 p    {
    line-height: .1rem;
    font-size: 17px;
    font-weight: 700;
    font-variant: all-small-caps;
}