body    {
    font-size: 18px;
    font-family: "Nunito","Helvetica" ,"Arial",sans-serif;
}

*   {
   box-sizing: border-box;
}

h1, h2, h3    {
    color: #363020;
    font-family: 'Lobster', cursive;
    font-size: 1.5em;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
    color: white;
}


h2  {
    color: #363020;
    font-weight: 900;
    text-align: center;
    align-self: center;
    font-size: 2.6rem;
}

p   {
    color: #363020;
    text-align: justify;
    font-weight: 500; 
}

header, footer  {
    background-color: #363020;
    display: flex;
    align-items: center;
    max-width: 1100px;
}

.header2    {
    position: static;
}

.logo  {
    border-radius: 25px 10px;
    margin: 5px 5px 0 5px;
}

nav {
    flex: 1 1 auto;
    max-width: 65%;
}

nav ul  {
    display: flex;
    list-style: none;
    text-decoration: none;
    text-align: center;
}

header nav ul li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    flex: 1 1 auto;
}

nav a   {
    padding: 17px 27px;
}

.active, nav a:hover   {
    color: white;
    font-size: 1.1rem;
    transition-duration: 0.5s;
    border: 2px solid orange;
    border-radius: 3px 1px;
    padding: 10px 20px;
}

a   {
    text-decoration: none;
}


header  {
    position: sticky;
    top: 0;
    margin-top: 20px;
    z-index: 4;
    justify-content: space-between;
}

header div  {
    display: flex;
    align-items: center;
}

footer  {
    display: flex;
    margin: 20px 0 20px 0;
    padding: 10px 10px 5px 25px;  
    align-items: center;
    justify-content: space-between;
}

.yellow-div-line    {
    background-color: orange;
    border: 2px solid #FFF1D1;
    line-height: 6px; 
    padding: 2px;
}

.yellow-div-line2    {
    background-color: orange;
    border: 2px solid #FFF1D1;
    line-height: 6px; 
    margin-top: -4px;
    padding: 2px;
}

.banner {
   max-width: 100%; 
}

.banner-container   {
    position: relative;
}

.banner-container .button    {
    position: absolute;
    bottom: 70px;
    left: 40%;
}

.button {
    padding: 1rem 2rem;
    background-color: #363020;
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
    color: white;
    opacity: .8;
    border: 2px solid orange;
    border-radius: 1rem;
}

.button:hover   {
    background-color: orange;
    color: #363020;
    border: 4px solid white;
    transition-duration: 0.5s;
    font-size: 1.7rem;
    opacity: 1;
    border-radius: 1rem;
}

#page    {
    max-width: 1100px;
    margin: 0 auto;
}


a   {
    color: orange;
    font-size: medium;
}


.copyright  {
    color: orange;
    grid-column: 1 / 3;
}

.social {
    grid-column: 3 / 4;
    margin: 3px;
}

.social img     {
    border-radius: 10px;
    width: 60px;
    border: 2px solid orange;
}

.social img:hover {
    width: 60px;
    padding: 3.5px;
    transition-duration: 0.5s;
    border: 2px solid orange;
}


.home-img-right, .home-img-left {
    border-radius: 30px 30px;
    box-shadow: 1px 1px 6px 4px;
}

.main-home  {
    display: grid;
    margin: 5rem 0;
    max-width: 100%;
    justify-items: center;
}

.home  {
    display: grid;
    column-gap: 2.5rem; 
    grid-template-rows: 80px 1fr;
}

.home-heading-2, .home-paragraph-2   {
    grid-column: 2/3;
}
 .home-img-1    {
    grid-column: 2/3;
    grid-row: 1/3;
 }
 
 .home-img-2    {
    grid-column: 1/2;
    grid-row: 1/3;
 }

 img    {
     max-width: 100%;
 }

 .home-paragraph-1, .home-paragraph-2   {
     max-width: 450px;
     justify-self: center;
 }

 .home-paragraph-3  {
     max-width: 970px;
 }


 .gallery   {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 2rem;
     justify-items: center;
 }

 .img-1-left,  .img-1-right, .img-2-left, .img-2-right     {
     position: relative;
 }

 .img-1-left h2, .img-1-right h2, .img-2-left h2, .img-2-right h2 {
     position: absolute;
     bottom: 45%;
     left: 30%;
     z-index: 1;
     text-shadow: 2px 2px 2px black;
     color: white;
     font-size: 3rem;
 }

 .img-1-left h2  {
     position: absolute;
     left: 23%;
 }

 .img-1-left a, .img-1-right a, .img-2-left a, .img-2-right a {
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 40%;
    background-color: #FFF1D1;
    border: 2px solid #363020;
    border-radius: 10px;
    padding: 10px 20px;
    color: #363020;
    font-weight: 600;
}

.gallery-img a:hover    {
    color: white;
    background-color: #363020;
    border: 2px solid white;
    transition-duration: 0.5s;
    font-style: normal;
    font-weight: 100;
}


.img-1-left img,  .img-1-right img, .img-2-left img, .img-2-right img     {
    border-radius: 20px;
}

.section-grid   {
    justify-self: center;
}
.section-grid img   {
    float: left;
    max-width: 400px;
    margin: 0 15px 5px 0;
}
.space  {
    height: 7rem;
}

.dash   {
    padding: 2px;
    background-color: orange;
}

.main-home2  {
    display: grid;
    row-gap: 7rem;
}

.home2  {
    display: grid;
    row-gap: 2rem;
}

.home2  h2 {
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
    line-height: 3rem;
    width: 500px;
    justify-self: center;
}

.home2 p    {
    max-width: 950px;
    justify-self: center;
    margin: auto;
}

.rivers-h2  {
    font-size: 3rem;
}

html {
    scroll-behavior: smooth;
}

input   {
    display: none;
}

label {
    display: block;    
    padding: 8px 22px;
    margin: 0 0 1px 0;
    cursor: pointer;
    background: #6AAB95;
    border-radius: 3px;
    color: #FFF;
    transition: ease 5s;
}

label:hover {
    background: #4E8774;
}

.panel {
    background: #E2E5F6;
    padding: 10px 25px;
    border: 1px solid #A7A7A7;
    margin: 0 0 1px 0;
    border-radius: 3px;
}

input + label + .panel  {
    display: none;
}

input:checked + label + .panel    {   
    display: block
}